
<!-- Modal -->
<div class="modal fade" id="modal_adm_tools" tabindex="-1" role="dialog" aria-labelledby="modal_adm_tools_label" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">

            <div class="modal-header">
                <h4 class="modal-title" id="myModalLabel">Selecione o Portal</h4>
                <button type="button" class="btn-close btn-sm" data-bs-dismiss="modal" aria-hidden="true"></button>
            </div>

            <div class="modal-body">

                <div class="box-item">
                    <div class="text">
                        <h5><a href=""
                            target="_blank" style="color: #172a60;">Adm Portal do Aluno</a></h5>
                    </div>
                </div>

                <div class="box-item">
                    <div class="text">
                        <h5><a href="https://webnd.painel.gvdasa.com.br/"
                            target="_blank" style="color: #172a60;">Adm Portal do Professor</a></h5>
                    </div>
                </div>

            </div>

        </div>
    </div>
</div>
